<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reservas Alexuan</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
    <header>
        <h1 id="titulo">RESERVAS HOTEL</h1>
    </header>

    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary colorbeige">
        <div class="container-fluid colorbeige">
            <a class="navbar-brand" href="#">¡Bienvenido!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home" id="inicioBtn"><i class="bi bi-house"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reservas" id="reservasBtn">Reservas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/clientes" id="clientesBtn">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/habitaciones" id="habBtn">Habitaciones</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Contenido principal -->
    <section id="contenedor" class="pagina">
        <div class="encabezadoPage">
            <h1>Reservas</h1>
            <button type="button" class="btn btn-success btnMas" id="btnNuevaReserva"><i class="bi bi-plus-circle"></i> Nueva Reserva</button>
        </div>

        <div class="table-responsive">
            <table >
                <thead>
                    <tr>
                        <th>ID Reserva</th>
                        <th>ID Cliente</th>
                        <th>ID Habitación</th>
                        <th>Fecha Entrada</th>
                        <th>Fecha Salida</th>
                        <th>Estado</th>
                        <th>Actualizar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reserva in reservas %}
                        <tr>
                            <td>{{ reserva._id }}</td>
                            <form action="/reservas/update/{{reserva._id}}" method="POST">
                                <td>
                                    <input type="text" name="cliente_id" value="{{ reserva.cliente_id }}" required>
                                </td>
                                <td>
                                    <input type="text" name="habitacion_id" value="{{ reserva.habitacion_id }}" required>
                                </td>
                                <td>
                                    <input type="date" name="fecha_entrada" value="{{ reserva.fecha_entrada }}" required>
                                </td>
                                <td>
                                    <input type="date" name="fecha_salida" value="{{ reserva.fecha_salida }}" required>
                                </td>
                                <td class="estado-{{ reserva.estado|lower }}">
                                    <input type="text" name="estado" value="{{ reserva.estado }}" required>
                                </td>
                                <td class="opciones">
                                    <button type="submit" class="btn btn-primary" aria-label="Guardar cambios"><i class="bi bi-floppy-fill"></i></button>
                                </td>
                            </form>
                            <form action="/reservas/delete/{{ reserva._id }}" method="POST" onsubmit="return confirm('¿Está seguro de eliminar esta reserva?')">
                                <td class="opciones">
                                    <button type="submit" class="btn btn-danger eliminar" aria-label="Eliminar reserva"><i class="bi bi-trash3-fill"></i></button>
                                </td>
                            </form>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <!-- Contenedor emergente para nueva reserva -->
    <div id="overlay" class="overlay">
        <div class="containerOculto">
            <h2>Nueva reserva</h2>

            <form action="/crearReservas" method="POST">
                <div class="form1">
                    <div class="form2">
                        <label for="idRes">Id:</label><br>
                        <input id="idRes" name="id" placeholder="Id de reserva" required/><br><br>
                        <label for="clienteRes">Id de cliente:</label><br>
                        <input id="clienteRes" name="cliente" placeholder="Id del cliente" required/><br><br>
                        <label for="habRes">Id de habitación:</label><br>
                        <input id="habRes" name="hab" placeholder="Id de habitación" required/><br><br>
                    </div>
                    <div class="form2">
                        <label for="fEntradaRes">Fecha de entrada:</label><br>
                        <input id="fEntradaRes" name="entrada" type="date" required/><br><br>
                        <label for="fSalidaRes">Fecha de salida:</label><br>
                        <input id="fSalidaRes" name="salida" type="date" required/><br><br>
                        <label for="estadoRes">Estado de reserva:</label><br>
                        <input id="estadoRes" name="estado" placeholder="Estado" required/><br><br>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Registrar reserva</button>
                <button type="button" class="btn btn-danger" id="closeButton">Cancelar</button>
            </form>
        </div>
    </div>

    <footer id="footer">
        <h4>Hotel</h4>
        <br>
        <p>
            Luis Angel Carachure Alejo, 21070007 <br>
            Alexis Roberto Hurtado Infate, 21070012
        </p>
    </footer>

    <link rel="stylesheet" href="../static/styles.css">
    <script src="../static/Js/reservar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
